<section class="about-show">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <p>This is where the about information will Go</p><br/>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egone quaeris, inquit, 
    quid sentiam? Ita multo sanguine profuso in laetitia et in victoria est mortuus. 
    Si quae forte-possumus. At ego quem huic anteponam non audeo dicere; Cyrenaici quidem 
    non recusant; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, 
    Democriteum puto. Sed potestne rerum maior esse dissensio? Hoc Hieronymus summum bonum esse dixit. 
    Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. Expectoque quid ad id, 
    quod quaerebam, respondeas. Aliter autem vobis placet. Sit hoc ultimum bonorum, 
    quod nunc a me defenditur; At iam decimum annum in spelunca iacet. Quae quidem sapientes 
    sequuntur duce natura tamquam videntes; Quae hic rei publicae vulnera inponebat, eadem ille sanabat.
    Certe, nisi voluptatem tanti aestimaretis. Ita relinquet duas, de quibus etiam atque etiam consideret.
    Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Quae cum dixisset paulumque institisset, 
    Quid est? Non quam nostram quidem, inquit Pomponius iocans; At modo dixeras nihil in istis rebus esse, 
    quod interesset. Quid de Platone aut de Democrito loquar? Qui est in parvis malis. Egone quaeris, inquit, 
    quid sentiam? Si longus, levis dictata sunt. Nunc haec primum fortasse audientis servire debemus.
  </p>

  </section>